@model Web_TrabajoFidelitas.Entidades.Usuario
@{
    ViewBag.Title = "IniciarSesion";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}
<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                                <img src="~/Estilos/assets/img/Grupo-Motores-Britanicos-2.png" alt="Logo" />
                            </a>
                        </div><!-- Fin Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Iniciar Sesión en tu Cuenta</h5>
                                    <p class="text-center small"></p>
                                </div>
                                @using (Html.BeginForm("IniciarSesion", "Usuario"))
                                {
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.emailUsuario, new { @class = "form-control form-control-user my-3", @placeholder = "Correo",@required="true" })
                                    </div>
                                    <div class="form-group">
                                        @Html.PasswordFor(m => m.contrasenaUsuario, new { @class = "form-control form-control-user my-3", @placeholder = "Contraseña" , @required = "true" })
                                    </div>

                                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Iniciar Sesión">


                                    <div class="col-12">
                                        <p class="small mb-0">¿No tienes cuenta? <a href="@Url.Action("RegistrarUsuario","Usuario")">Crear una cuenta</a></p>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Recuperar Acceso <a href="@Url.Action("RecuperarAcceso","Usuario")">Recuperar acceso</a></p>
                                    </div>
                                }

                            </div>
                        </div>


                    </div>

                </div>
            </div>
    </div>

    </section>

    </div>
</main><!-- Fin #main -->
